// Typography Settings
//--------------------------------------------------

// the basic font size, the other font settings will change respectively.
$root_font_size: 22px;

// various text aligns, use: [left, right, center, justify]
$header_align: center;
$article_align: justify;
$nav_align: center;

// the main font settings. Use any font, but make sure to link it in the <head>-Section of your template
$mainfont: 'Crimson Text';
$mainfont_fallback_one: 'Times New Roman';
$mainfont_fallback_two: 'serif';

// this is the accent font, it is used for blog description, post date and footer credits
$accentfont: 'Raleway';
$accentfont_fallback_one: 'Calibri';
$accentfont_fallback_two: 'sans-serif';

// Colors Settings
//--------------------------------------------------

// Papersheet Default Colors
$white: #FDFDFD;
$black: #121212;
$red: #85073b;

// font color if no other is defined
$mainfontcolor: $black;

// main background color
$mainbgcolor: $white;

// color used for anchor tags
$linkcolor: $red;

// anchor tags color on hover
$linkhovercolor: complement($red);

// comments background color
$comments_bg: lighten($black, 85%);

//--------------------------------------------------------------------------------------------------------------
// Only Change the following if you know, what you are doing...
//--------------------------------------------------------------------------------------------------------------
$font_one: $mainfont, $mainfont_fallback_one, $mainfont_fallback_two;
$font_two: $accentfont, $accentfont_fallback_one, $accentfont_fallback_two;

body{
    font:{
        family: $font_one;
        size: $root_font_size;
    }

    color: $mainfontcolor;
    background: $mainbgcolor;
}

footer{
    font:{
        family: $font_two;
    }
}

a{
    color: lighten($linkcolor, 10%);

    &:hover{
        color: $linkhovercolor;
    }
}

.head{
    text-align: $header_align;

    h3{
        font:{
            family: $font_two;
        }
    }
}

article{
    text-align: $article_align;

    header{

        .post-date h3{
            font-family: $font_two;
        }
    }
}

.comments .comment-block,
.comments .comment-thread.inline-thread .comment-block {
    background: $comments_bg;
}

.comments .comment-block:after{
    border-color: transparent $comments_bg transparent transparent;
}

.comment-header {
    font-family: $font_one;
}

.comment-actions{
    font-family: $font_two;
}

.PageList{
    font-family: $font_one;

    ul{
        text-align: $nav_align;
    }
}
