@import "modules/all";

$font_one: $mainfont, $mainfont_fallback_one, $mainfont_fallback_two;
$font_two: $accentfont, $accentfont_fallback_one, $accentfont_fallback_two;

// Extend Only
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
// @extend %clearfix

%paddinghack{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
// @extend %paddinghack

%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
// @extend %visuallyhidden
