/* 4.3 Comments */
.comments .avatar-image-container,
.comments .avatar-image-container img {
    width: 51px;
    max-width: 43px;
    height: 43px;
    max-height: 51px;
    background: $white;
    float: left;
    border-radius: 50%;
    -moz-border-radius: 50%;
    margin: 0 10px 0 0;
}

#comments {
    padding-top: 20px;
    border-top: 1px solid lighten($black, 80%);
}

.comments .comment-block,
.comments .comments-content .comment-replies,
.comments .comment-replybox-single {
    margin-left:60px;
}

.comments .comment-block,
.comments .comment-thread.inline-thread .comment-block {
    background:lighten($black, 85%);
    padding:10px;
    position: relative;
    z-index: 2 !important;
}

.comments .comment-block:after{
    content:'';
    position: absolute;
    border-color: transparent lighten($black, 85%) transparent transparent;
    border-style:solid;
    border-width:15px;
    width:0;
    height:0;
    left: -30px;
    top: 10px;
}

.comment-header {
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.1em;
    font-style: italic;
    letter-spacing: 2px;
}

.comments .comments-content .comment {
    width:100%;
    line-height:1em;
    margin:15px 0 0;
    padding:0;
    font-size: .9em;
}

.comments .comments-content .comment-content {
    text-align: justify;
}

.comments .comments-content .comment-replies {
    margin-top:0;
}

#comments h4{
    display: inline;
    margin: 0;
    padding: 20px 0 14px 10px;
    text-transform: uppercase;
}

.comments .comments-content .datetime {
    float: right;
    padding-top: 6px;
    padding-right: 20px;
}

.comment-actions{
    font-size: .7em;
    font-family: $font_two;
    text-transform: uppercase;
    margin-top: 10px;
    display: inline-block;

    a{
        padding: 8px;
        margin-right: 5px;
        border: 1px solid lighten($black, 80%);
        background: $white;
    }
}
