// Typography
$mainfont: 'Crimson Text';
$mainfont_fallback_one: 'Times New Roman';
$mainfont_fallback_two: 'serif';

$accentfont: 'Raleway';
$accentfont_fallback_one: 'Calibri';
$accentfont_fallback_two: 'sans-serif';
